
*.hi
*.o
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/build/arbitrage-scanner/autogen/cabal_macros.h
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/build/arbitrage-scanner/arbitrage-scanner.exe
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/build/arbitrage-scanner/autogen/Paths_arbitrage_scanner.hs
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/cache/build
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/cache/config
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/cache/registration
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-windows/ghc-8.10.7/arbitrage-scanner-0.1.0.0/x/arbitrage-scanner/setup-config
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-8.10.7/package.cache
dist-newstyle/packagedb/ghc-8.10.7/package.cache.lock
.vscode/tasks.json
